body{
    color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #3c3c3c;
}

header{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img{
    height: 75px;
    width: auto;
}

header a{
    color: white;
    text-decoration: none;
}

header ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

header li{
    margin: 0 45px;
    font-size: larger;
    font-weight: 500;
}

.content{
    
}

footer{
    background-color: #252525;
}
